@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer{
  position: fixed;
  display: inline-block;
  margin-top: 10%;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color:#191A19;
  text-align: center;
  color: whitesmoke;
}

.title{
  font-family: 'Monoton', cursive;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  word-spacing: 30px;
}

.navbar{
  background-color: #071929;
}

.home-page{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link{
  color: #fff;
}

.well-details{
  width: 50%;
}




